<template>
  <div>
    <BlurredHeader :image="image" :title="album.name" :subtitle="subtitle" />
    <div id="tracks" v-if="tracks.items">
      <h2>TRACKS</h2>
      <AlbumTrackList :album="album" />
    </div>
  </div>
</template>

<script>
import AlbumTrackList from '@/components/AlbumTrackList';
import BlurredHeader from '@/components/BlurredHeader';
import { Spotify } from '@/shared/spotify';
import { dataGetters } from '@/shared/dataGetters';

export default {
  name: 'Album',
  components: {
    AlbumTrackList,
    BlurredHeader
  },
  data() {
    return {
      album: {},
      albumId: null,
      artist: {},
      trackListWithImages: [],
      tracks: [],
      year: null
    };
  },
  async created() {
    this.albumId = this.$route.query.id;
    const allPromises = [Spotify.getAlbum(this.albumId), Spotify.getAlbumTracks(this.albumId)];
    const data = await Promise.all(allPromises);
    this.album = data[0].data;
    this.tracks = data[1].data;
    this.trackListWithImages = this.tracks.items.map((track) => {
      /*
       * tracks from search and single track requests come with album data,
       * we fill the structure so it works with thegeneric data getters
       */
      return { ...track, album: { images: this.album.images } };
    });
    this.year = new Date(this.album.release_date).getFullYear();
  },
  computed: {
    image() {
      return dataGetters.album.image(this.album);
    },
    subtitle() {
      return this.album && this.album.artists ? `${this.album.artists[0].name}, ${this.year}` : '';
    }
  }
};
</script>

<style scoped></style>
