<template>
  <div>
    <BlurredHeader :image="image" :title="artist.name" />

    <h2>TOP TRACKS</h2>
    <section id="top-tracks">
      <ThumbnailWithDetail v-for="track in topTracks" :key="track.id" :data="track" />
    </section>
    <h2>ALBUMS</h2>
    <section id="albums">
      <GenericThumbnail v-for="album in albums" :key="album.id" :data="album" />
    </section>
    <h2>RELATED ARTISTS</h2>
    <section id="related-artists">
      <GenericThumbnail
        v-for="relatedArtist in relatedArtists"
        :key="relatedArtist.id"
        :data="relatedArtist"
      />
    </section>
  </div>
</template>

<script>
import BlurredHeader from '@/components/BlurredHeader';
import GenericThumbnail from '@/components/GenericThumbnail';
import ThumbnailWithDetail from '@/components/ThumbnailWithDetail';
import { Spotify } from '@/shared/spotify';

export default {
  name: 'Artist',
  components: {
    BlurredHeader,
    GenericThumbnail,
    ThumbnailWithDetail
  },
  data() {
    return {
      albums: [],
      artist: {},
      artistId: null,
      relatedArtists: [],
      topTracks: []
    };
  },
  async created() {
    this.artistId = this.$route.query.id;
    const allPromises = [
      Spotify.getArtist(this.artistId),
      Spotify.getArtistAlbums(this.artistId),
      Spotify.getArtistRelatedArtists(this.artistId),
      Spotify.getArtistTopTracks(this.artistId)
    ];
    const data = await Promise.all(allPromises);
    this.artist = data[0].data;
    this.albums = data[1].data.items;
    this.relatedArtists = data[2].data.artists;
    this.topTracks = data[3].data.tracks;
  },
  computed: {
    image() {
      return this.artist && this.artist.images && this.artist.images[0].url;
    }
  }
};
</script>

<style scoped>
.blurred-background {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
header {
  position: relative;
}

.blurred-background::before {
  content: '';
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}
#artist-name {
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

#top-tracks {
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
#albums {
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(1fr)); */
}

#related-artists {
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
</style>
