<template>
  <div></div>
</template>

<script>
import { Spotify } from '@/shared/spotify.js';
import { mapState } from 'vuex';

export default {
  name: 'Callback',
  async created() {
    await Spotify.getToken(this.spotifyData);
    this.$router.push('/search');
  },
  computed: {
    ...mapState(['spotifyData'])
  }
};
</script>

<style lang="scss" scoped></style>
