<template>
  <div>
    <input placeholder="🔍 Search here" @input="search" v-model="query" autofocus />
    <div v-if="hasResults">
      <div v-if="artists.length > 0">
        <h1>ARTISTS</h1>
        <section v-if="artists" id="artist-section" class="grid-container">
          <GenericThumbnail v-for="artist in artists" :key="artist.id" :data="artist" />
        </section>
      </div>
      <div v-if="albums.length > 0">
        <h1>ALBUMS</h1>
        <section v-if="albums" id="album-section" class="grid-container">
          <ThumbnailWithDetail v-for="album in albums" :key="album.id" :data="album" />
        </section>
      </div>
      <div v-if="tracks.length > 0">
        <h1>TRACKS</h1>
        <section v-if="tracks" id="track-section" class="grid-container">
          <ThumbnailWithDetail v-for="track in tracks" :key="track.id" :data="track" />
        </section>
      </div>
    </div>
    <div v-else>
      <CenterWarning :message="warningMessage" />
    </div>
  </div>
</template>

<script>
import CenterWarning from '@/components/CenterWarning';
import GenericThumbnail from '@/components/GenericThumbnail';
import ThumbnailWithDetail from '@/components/ThumbnailWithDetail';
import { Spotify } from '@/shared/spotify';
import { debounce } from '@/shared/debounce';

export default {
  name: 'Search',
  components: {
    CenterWarning,
    GenericThumbnail,
    ThumbnailWithDetail
  },
  data() {
    return {
      query: '',
      searchResult: null,
      artists: [],
      albums: [],
      tracks: [],
      debouncedSearch: null,
      searchInProgress: false
    };
  },
  methods: {
    async search(e) {
      this.debouncedSearch(e);
    },
    async directSearch(e) {
      const searchQuery = e instanceof InputEvent || e instanceof Event ? e.target.value : e;
      if (searchQuery) {
        this.searchInProgress = true;
        this.searchResult = await Spotify.search(searchQuery);
        this.artists = this.searchResult.data.artists.items;
        this.albums = this.searchResult.data.albums.items;
        this.tracks = this.searchResult.data.tracks.items;
        console.log(searchQuery);
        this.$router.replace({ name: 'Search', query: { q: searchQuery } }).catch((err) => {
          if (
            err.name !== 'NavigationDuplicated' &&
            !err.message.includes('Avoided redundant navigation to current location')
          ) {
            console.error(err);
          }
        });
        this.searchInProgress = false;
      } else {
        this.artists = this.albums = this.tracks = [];
        this.$router.replace({ name: 'Search' }).catch((err) => {
          if (
            err.name !== 'NavigationDuplicated' &&
            !err.message.includes('Avoided redundant navigation to current location')
          ) {
            console.error(err);
          }
        });
      }
    }
  },
  created() {
    this.searchResult;
    this.debouncedSearch = debounce(this.directSearch, 500);
  },
  mounted() {
    console.log('MOUNTED!!!');
    this.query = this.$route.query.q;
    if (this.query) {
      this.searchInProgress = true;
      this.debouncedSearch(this.query);
    }
  },
  computed: {
    hasResults() {
      return this.artists.length && this.albums.length && this.tracks.length;
    },
    warningMessage() {
      return this.searchInProgress ? 'Searching...' : 'No results';
    }
  }
};
</script>

<style scoped>
input {
  color: #000;
  padding: 6px 48px;
  height: 40px;
  border: 0;
  border-radius: 500px;
  text-overflow: ellipsis;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  display: inline-block;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
  margin: 0em;
  font: 400 20px 'Roboto';
  margin-top: 20px;
}

section.grid-container {
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(1fr)); */
}
section#album-section.grid-container,
section#track-section.grid-container {
  display: grid;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(1fr)); */
}
</style>
