<template>
  <div v-if="track">
    <BlurredHeader :image="image" :title="track.name" :subtitle="subtitle" />
    <h2>SAMPLE FROM THE TRACK</h2>
    <audio v-if="track.preview_url" controls>
      <source :src="track.preview_url" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <div id="info-container">
      <div id="artist" class="item">
        <h2>ARTIST</h2>
        <GenericThumbnail :data="artist" />
      </div>
      <div id="album" class="item">
        <h2>ALBUM</h2>
        <GenericThumbnail :data="track.album" />
      </div>
    </div>
  </div>
</template>

<script>
import BlurredHeader from '@/components/BlurredHeader';
import GenericThumbnail from '@/components/GenericThumbnail';
import { Spotify } from '@/shared/spotify';
import { dataGetters } from '@/shared/dataGetters';
import { getDurationString } from '@/shared/getDurationString';

export default {
  name: 'Track',
  components: {
    BlurredHeader,
    GenericThumbnail
  },
  data() {
    return {
      albumId: null,
      artist: null,
      track: null
    };
  },
  async created() {
    this.trackId = this.$route.query.id;
    this.track = (await Spotify.getTrack(this.trackId)).data;
    this.artist = (await Spotify.getArtist(this.track.artists[0].id)).data;
  },
  computed: {
    image() {
      return dataGetters.track.image(this.track);
    },
    subtitle() {
      if (!this.track) {
        return '';
      }
      const artist = this.track.artists[0].name;
      const album = this.track.album.name;
      return `${album} - ${artist} ${getDurationString(this.track)}`;
    }
  }
};
</script>

<style scoped>
#info-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#info-container .item {
  width: 200px;
}
</style>
