<template>
  <div>
    <ul>
      <li
        v-for="(track, index) in album.tracks.items"
        :key="track.id"
        v-bind="{ 'data-name': track.name }"
      >
        <router-link :to="getToParam(track)">
          <div :class="`track-${index}`" class="track-container">
            <div class="track-index">
              <p>
                {{ index + 1 }}
              </p>
            </div>
            <div class="thumbnail" :style="{ 'background-image': 'url(' + image + ')' }"></div>
            <div class="description">
              <p class="title">{{ getters.track.title(track) }}</p>
            </div>
            <div class="preview">
              <audio v-if="track.preview_url" controls>
                <source :src="track.preview_url" type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
              <div class="-nopreview" v-else><p>No Preview</p></div>
            </div>
            <div class="duration">{{ getTrackDuration(track) }}</div>
          </div>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { dataGetters } from '@/shared/dataGetters';
import { getDurationString } from '@/shared/getDurationString';

export default {
  name: 'AlbumTrackList',
  props: {
    album: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      getters: dataGetters
    };
  },
  methods: {
    getTrackDuration(track) {
      return getDurationString(track);
    },
    getToParam(track) {
      return { path: track.type, query: { id: track.id } };
    }
  },
  computed: {
    image() {
      return this.getters.album.image(this.album);
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
}
.track-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  align-items: center;
}
.thumbnail {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.thumbnail::before {
  content: '';
  padding-right: 100%;
  display: inline-block;
  vertical-align: middle;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.description p {
  margin: 0px 20px;
}

.subtitle {
  opacity: 0.6;
}
</style>
