<template>
  <div>
    <header>
      <div class="blurred-background" :style="{ 'background-image': 'url(' + image + ')' }"></div>
      <router-link to="/search" id="navigate-search">
        <GenericButton :label="'🔍 Go to search'" />
      </router-link>
      <div id="description">
        <h1 id="title">{{ title }}</h1>
        <h2 id="subtitle">{{ subtitle }}</h2>
      </div>
    </header>
  </div>
</template>

<script>
import GenericButton from '@/components/GenericButton.vue';

export default {
  name: 'BlurredHeader',
  components: {
    GenericButton
  },
  props: {
    image: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    }
  }
};
</script>

<style scoped>
.blurred-background {
  filter: blur(4px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
header {
  position: relative;
}

.blurred-background::before {
  content: '';
  padding-bottom: 50%;
  display: inline-block;
  vertical-align: top;
}
#description {
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

#title {
  font-size: 4rem;
  text-shadow: 2px 2px 8px #000000;
}

#subtitle {
  opacity: 0.7;
}
#navigate-search {
  position: absolute;
  top: 20px;
  left: 20px;
}
</style>
