<template>
  <div>
    <section>
      <h1>{{ message }}</h1>
    </section>
  </div>
</template>

<script>
export default {
  name: 'CenterWarning',
  props: {
    message: {
      type: String,
      default: ''
    }
  }
};
</script>

<style scoped>
h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-left: -50%; /* margin is -0.5 * dimension */
  margin-top: -25px;
  font-size: 5rem;
  opacity: 0.4;
}
</style>
