<template>
  <router-link id="router-link" v-if="data" :to="toParam">
    <div v-bind="{ 'data-name': data.name, 'data-type': data.type }">
      <div
        id="thumbnail"
        :style="{ 'background-image': 'url(' + image + ')' }"
        :alt="data.name"
        :class="data.type === 'artist' && 'round'"
      ></div>
      <p>{{ data.name }}</p>
    </div>
  </router-link>
</template>

<script>
import { dataGetters } from '@/shared/dataGetters';

export default {
  name: 'GenericThumbnail',
  props: {
    data: {
      type: Object,
      default: null
    }
  },
  computed: {
    image() {
      return dataGetters[this.data.type].image(this.data);
    },
    toParam() {
      return { path: this.data.type, query: { id: this.data.id } };
    }
  }
};
</script>

<style scoped>
#thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#thumbnail::before {
  content: '';
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}
.round {
  border-radius: 50%;
}
</style>
