<template>
  <router-link :to="toParam">
    <div id="container" v-bind="{ 'data-name': title, 'data-type': data.type }">
      <div id="thumbnail" :style="{ 'background-image': 'url(' + image + ')' }" :alt="title"></div>
      <div id="description">
        <p id="title">{{ title }}</p>
        <p id="subtitle">{{ subtitle }}</p>
      </div>
    </div>
  </router-link>
</template>

<script>
import { dataGetters } from '@/shared/dataGetters';

export default {
  name: 'ThumbnailWithDetail',
  props: {
    data: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      getters: dataGetters
    };
  },
  computed: {
    toParam() {
      return { path: this.data.type, query: { id: this.data.id } };
    },
    image() {
      return this.getters[this.data['type']].image(this.data);
    },
    title() {
      return this.getters[this.data['type']].title(this.data);
    },
    subtitle() {
      return this.getters[this.data['type']].subtitle(this.data);
    }
  }
};
</script>

<style scoped>
#container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#thumbnail {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#thumbnail::before {
  content: '';
  padding-right: 100%;
  display: inline-block;
  vertical-align: middle;
}

#description {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#description p {
  margin: 0px 20px;
}

#subtitle {
  opacity: 0.6;
}
</style>
