<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> | <router-link to="/search">Search</router-link>|
      <router-link to="/artist">Artist</router-link>|
    </div> -->
    <router-view />
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #140029;
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #383a59;
}

#nav a.router-link-exact-active {
  color: #ffffff;
}
</style>
